/*======================================== MASTER-LIST PAGE ========================================*/
/* line 2, sass/one_master_page.css */
#master-profile .master-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
